body {
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(56, 49, 49);
    box-sizing: border-box;
    margin: 30px;
}

#cnt {
    width: 80%;
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}

h1 {
    color: #fff;
    font-family: 'Amaranth', sans-serif;
    font-size: 10vh;
}

input[type="text"] {
    background-color: rgb(247, 224, 213);
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

input:focus {
    color: rgb(48, 33, 33);
    outline: 0;
    background-color: rgb(255, 255, 255);
}

.item {
    color: brown;
    background: #fff;
    margin-top: 5px;
    padding: 20px;
    width: 80%;
    display: block;
    overflow: auto;
    word-wrap: break-word;
}

button {
    width: 24%;
    padding: 15px 35px;
    border: none;
    border-radius: 15px;
    outline: none;
    background: rgb(117, 101, 101);
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    display: inline-block;
    margin-bottom: 10px;
}

#clear {
    background-color: #f75717;
}

#clear:hover {
    background-color: #c21a1a;
}

button:hover {
    color: white;
    background-color: #b89286;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}