form {
    font-size: 16px;
    color: #fff;
    width: 30%;
    background-color: blue;
    padding: 40px;
}

input,
label {
    display: inline-block;
}

input[type='text'],
input[type='email'] {
    height: 20px;
    width: 100%;
}

input[type="submit"] {
    background: navy;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    margin-top: 10px;
    padding: 10px 18px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background: lightblue;
    color: navy;
    border: 0;
}

label {
    margin-top: 10px;
}

p {
    color: red;
    margin: 10px;
    font-stretch: expanded;
    font-weight: bold;
}