#background-img {
background-color: lightblue;
background-image: url("../img/truskawka.jpg");
background-repeat: no-repeat;
/* background-position: 200px 50px;  */
background-position: top center;
/* background-size: 30% 30%; */
background-size: contain;
/* background-size: cover; -rozciagnie sie na calosc */
background-attachment: fixed;
}
