body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

header  {
    background-color: #f2f1ed;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #007bff;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 20px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

header h2 {
  margin-top: 5vh;
  margin-top: 5vh;}

hr {
    border: 1px solid #007bff;
    width: 20vh;
}

nav {
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}
span {
    content: "\2022";
    color: #007bff;
}

button {
    border: 1px solid #007bff;
    outline: none;
    background-color: #f2f1ed;
    margin: 10px;
    padding: 20px;
    color: #333;
}

button:hover {
    color: #f2f1ed;
    background-color: #007bff; 
}


ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}
    
  
li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-right: 50px;
    text-decoration: none;
    color: white;
}
  
li a:hover {
    color: blue;
}

li a:active {
    color: darkblue;
}

/* sekcja o mnie */

#about {
    margin-top: 20vh;
}
#about_me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#my_photo {
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    background-image: url('../img/about.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-top: 10vh;
} 

#text_about {
    width: 50%;
    text-align: center;
}

section#about_me button {
    border: 1px solid #007bff;
    outline: none;
    background-color: white;
    margin: 10px;
    padding: 20px;
    color: #333;
}

button:hover {
    color: #f2f1ed;
    background-color: #007bff; 
}

/* Portfolio */


#portfolio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f2f1ed;
}

#portfolio h2, #contact h2 {
    margin-top: 20vh;
}

#portfolio hr, #contact h2 {
    margin-bottom: 10vh;
}

#gallery {
    width: 80%;
    margin: 0;
    font-size: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

figure {
    flex-basis: 25%;
    margin: 0px;
    padding: 0px;
}

figure img {
	max-width: 100%; 
    margin: 0px;
    padding:0px;
}

section#portfolio {
    padding-bottom: 10vh;
}

/* KONTAKT */
section#contact {
    display: flex;
    justify-content: center;

}
div#formularz {
    width: 80%;
}
/* 
form {
    display: flex;
    
   align-self: space-between;
    flex-direction: row;
    flex-wrap: wrap;
} */

input[type="text"] {
    margin: 5px;
    width: 45%;
    padding: 1%;
} 

textarea {
    width: 100%;
    height: 30%;
}