body {
    background-color: lightgrey;
    font-family: Verdana, Tahoma, sans-serif;
}
div {
    position: relative;
    margin: 15px;
}
h1 {
    color: blue;
}

h2 {
    color: steelblue;
    font-style: italic;
}

legend {
     font-weight: bold;
     font-size: 18px;
 }

 
input {
    display: inline-block;
    padding: 10px;
    margin-bottom: 15px;
}

fieldset {
    background-color: skyblue;
    width: 50%;
    padding: 15px;

}

input[type="submit"] {
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
}

input[type="submit"]:hover,
input[type=submit]:active {
color: blue;
background-color: white;
outline: none;
}