#strawberry-left {
    float: left;
    width: 300px;
    height: auto;
}

#strawberry-right {
    float: right;
    width: 300px;
    height: auto;
}

#strawberry {
    float: none;
}

p:last-child {
background-color: yellow;
clear: both;      
/* wyłącza opływanie, prawo, lewo, both */
}